.twab {
  font-size: 40px;
}
.twab__animation-text {
  color: #028090;
  font-weight: bold;
}
.twab__cursor {
  color: #028090;
  animation: flicker 1s linear infinite;
}
@keyframes flicker {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
